body {
    height: 100vh;
}

.bg-l1 {
    background: rgb(135, 135, 135);
}

.bg-l2 {
    background: rgb(145, 145, 145);
}

.bg-l3 {
    background: rgb(155, 155, 155);
}

.bg-l4 {
    background: rgb(165, 165, 165);
}

.bg-l5 {
    background: rgb(175, 175, 175);
}

.bg-l6 {
    background: rgb(185, 185, 185);
}

.bg-l7 {
    background: rgb(195, 195, 195);
}

.bg-l8 {
    background: rgb(205, 205, 205);
}

.bg-l9 {
    background: rgb(215, 215, 215);
}

.bg-l10 {
    background: rgb(225, 225, 225);
}

.bg-l11 {
    background: rgb(235, 235, 235);
}

.bg-l12 {
    background: rgb(245, 245, 245);
}

.bg-l13 {
    background: rgb(255, 255, 255);
}

.text-d1 {
    color: rgb(0, 0, 0);
}

.text-d2 {
    color: rgb(10, 10, 10);
}

.text-d3 {
    color: rgb(20, 20, 20);
}

.text-d4 {
    color: rgb(30, 30, 30);
}

.text-d5 {
    color: rgb(40, 40, 40);
}

.text-d6 {
    color: rgb(50, 50, 50);
}

.text-d7 {
    color: rgb(60, 60, 60);
}

.text-d8 {
    color: rgb(70, 70, 70);
}

.text-d9 {
    color: rgb(80, 80, 80);
}

.text-d10 {
    color: rgb(90, 90, 90);
}

.text-d11 {
    color: rgb(100, 100, 100);
}

.text-d12 {
    color: rgb(110, 110, 110);
}

.text-d13 {
    color: rgb(120, 120, 120);
}

.text-l1 {
    color: rgb(135, 135, 135);
}

.text-l2 {
    color: rgb(145, 145, 145);
}

.text-l3 {
    color: rgb(155, 155, 155);
}

.text-l4 {
    color: rgb(165, 165, 165);
}

.text-l5 {
    color: rgb(175, 175, 175);
}

.text-l6 {
    color: rgb(185, 185, 185);
}

.text-l7 {
    color: rgb(195, 195, 195);
}

.text-l8 {
    color: rgb(205, 205, 205);
}

.text-l9 {
    color: rgb(215, 215, 215);
}

.text-l10 {
    color: rgb(225, 225, 225);
}

.text-l11 {
    color: rgb(235, 235, 235);
}

.text-l12 {
    color: rgb(245, 245, 245);
}

.text-l13 {
    color: rgb(255, 255, 255);
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.top-100 {
    top: 100%;
}

.contents {
    display: flex;
    flex-direction: column;
}

.fill {
    flex-basis: 100%;
}

.resize-none {
    resize: none;
}

.object-fit-contain {
    object-fit: contain;
}

.link,
.text-link {
    color: rgb(42, 103, 207);
}

.link:hover {
    color: rgb(62, 123, 227);
    cursor: pointer;
    text-decoration: underline;
}