<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/app}"
>
  <head>
    <title>YoutubeClone</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
  </head>

  <body>
    <div layout:fragment="contents" id="index">
      <div th:include="components/navbar.search"></div>
      <div class="container">
        <!-- <div class="d-flex justify-content-between p-3">
                <div>YoutubeClone</div>
                <div>
                    <input type="text" />
                    <button>検索</button>
                </div>
                <div class="d-flex position-relative">
                    <button @click="transitionToVideosCreate">ビデオ</button>
                    <div class="ml-2">
                        <button @click="toggleUserMenu">ユーザ</button>
                    </div>
                    <div v-show="userMenu.isVisible" class="position-absolute left-0 top-100">
                        <div th:if="${user == null}">
                            <div>新規登録</div>
                            <div>ログイン</div>
                        </div>
                        <div th:else>
                            <div>チャンネル</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fill d-flex">
                <div>
                    SIDEBAR
                </div>
                <div class="bg-l4 fill h-100">
                    <div th:text="${msg}"></div>
                </div>
            </div> -->
      </div>
    </div>
    <div layout:fragment="scripts">
      <script th:src="@{/js/index.js}"></script>
    </div>
  </body>
</html>
