<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/app}">

<body>
    <div layout:fragment="contents">
        <div class="d-flex justify-content-between">
            <div>YoutubeClone</div>
            <div>
                <input type="text" />
                <button>検索</button>
            </div>
            <div id="header-user">
                <button id="user-icon-button">アイコン</button>
                <div id="user-menu">
                    <div th:if="${user == null}">
                        <div>新規登録</div>
                        <div>ログイン</div>
                    </div>
                    <div th:else>
                        <div>チャンネル</div>
                    </div>
                </div>
            </div>
        </div>
        CONTENT
        <div th:text="${msg}"></div>
    </div>
</body>

</html>