<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/app}">

<body>
    <div layout:fragment="contents">
        <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
            last exception: <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span>
        </div>
        <form method="POST" th:action="@{/login}">
            <div><input type="text" name="username"></div>
            <div><input type="password" name="password"></div>
            <div><input type="submit" value="ログイン"></div>
        </form>
    </div>
</body>

</html>