body {
    height: 100vh;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.bg-d1 {
    background: rgb(245, 245, 245);
}

.contents {
    display: flex;
    flex-direction: column;
}

.fill {
    flex-basis: 100%;
}